.featured {
  margin-top: 70px;
  margin-bottom: 70px;

  a{
      text-decoration: none;
      color: inherit;
  }
}
.title {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
}
.info {
  font-size: 0.8rem;
  text-align: center;
  color: #6e6e6e;
}
.item-list {
  width: 90%;
  margin: 50px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  grid-auto-rows: max-content;
  justify-content: center;
  align-content: center;
  grid-gap: 1%;
}
.item {
    padding: 5px;
  box-shadow: 0 0 2px #b3b3b3;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  
}
.item:hover .item-title {
    color: #6e6e6e;

}
.item-image {
  max-width: 80%;
  max-height: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.item-details {
  border-top: 1px solid black;
  width: 95%;
  margin: auto {
    top: 10px;
    bottom: 10px;
  }
}
.item-title {
  font-size: 0.9rem;
  font-weight: 300;
}
.item-price {
  margin: 5px auto;
  color: #444444;
}
