@use '../Featured/Featured.scss';

.products {
    max-width: 1300px;
    display: block;
    margin: 70px auto;
    margin-bottom: 100px;
  
    a{
        text-decoration: none;
        color: inherit;
    }
  }

.item-description{
    font-size: 0.9rem;
    width: 90%;
    max-width: 500px;
}
.add-btn {
    width: 75%;
    display: block;
    border: 1px solid #cecece;
    background: #ebebeb;
    font-size: 0.7rem;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        background: #acacac;
    }
}



.search-bar {
    width: 90%;
    max-width: 1300px;
    display: block;
    margin: 10px auto;

}
.search-input {
    box-shadow: 0 0 2px #b3b3b3;
    padding: 10px;
    border: none;
    display: block;
    margin: 0 2% 0 auto;
    outline: none;
    
    &:focus {
        box-shadow: 0 0 2px #444444;
    }
    &::placeholder {
        color: #b3b3b3;
        font-style: italic;
    }
}


.categories-list {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category {
    border: none;
    color: black;
    outline: none;
    background: transparent;
    padding: 5px 10px;
    margin: 2px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        border-bottom: 1px solid #b3b3b3;
    }
    img{
        width: 10px;
    }
}
